# Laboratorio - AutoCodificadores

## Complete las tareas indicadas abajo

**TAREA: Ejecute las siguientes importaciones**

In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Los datos

En la tabla que van a trabajar, se encuentra el consumo promedio de 17 tipos de comida, en gramos por persona por semana, para cada país del Reino Unido (UK).

La tabla tiene algunas variaciones interesantes en diferentes tipos de comida, pero a nivel general las diferencias no son tan notables.

**TAREA:  Ejecute la siguiente instrucción para leer los datos**

Es posible que tenga que modificar la instrucción de acuerdo al lugar donde descargó el archivo.

In [17]:
df = pd.read_csv('UK_foods.csv', index_col = 'Unnamed: 0')

**TAREA: Despliegue el DataFrame**

In [18]:
df

                     England  Wales  Scotland  N.Ireland
Cheese                   105    103       103         66
Carcass_meat             245    227       242        267
Other_meat               685    803       750        586
Fish                     147    160       122         93
Fats_and_oils            193    235       184        209
Sugars                   156    175       147        139
Fresh_potatoes           720    874       566       1033
Fresh_Veg                253    265       171        143
Other_Veg                488    570       418        355
Processed_potatoes       198    203       220        187
Processed_Veg            360    365       337        334
Fresh_fruit             1102   1137       957        674
Cereals                 1472   1582      1462       1494
Beverages                 57     73        53         47
Soft_drinks             1374   1256      1572       1506
Alcoholic_drinks         375    475       458        135
Confectionery             54     64        62         41

In [19]:
df.describe()

           England        Wales     Scotland    N.Ireland
count    17.000000    17.000000    17.000000    17.000000
mean    469.647059   503.941176   460.235294   429.941176
std     452.701466   463.859282   469.595907   479.896014
min      54.000000    64.000000    53.000000    41.000000
25%     156.000000   175.000000   147.000000   135.000000
50%     253.000000   265.000000   242.000000   209.000000
75%     685.000000   803.000000   566.000000   586.000000
max    1472.000000  1582.000000  1572.000000  1506.000000

**TAREA:  Realice la transposición del DataFrame para que las columnas se conviertan en el índice.**

In [20]:
df = df.T

In [21]:
df

           Cheese  Carcass_meat   ...  Alcoholic_drinks   Confectionery
England       105            245  ...                375              54
Wales         103            227  ...                475              64
Scotland      103            242  ...                458              62
N.Ireland      66            267  ...                135              41

[4 rows x 17 columns]

**TAREA:  Cree un mapa de calor a partir del DataFrame.** 

¿Existe algún país que sobresalga por diferencia de los otros?  Puede ser bastante difícil determinar esto solo por la imagen.

¿Habrá algún par de países que parezcan muy similares entre si?

In [22]:
df.style.background_gradient(cmap ='viridis')

**TAREA:  Realice las importaciones necesarias para construir un AutoCodificador.  La meta será reducir las dimensiones de 17 --> 2 y ver si hay países que resalten como diferentes.**

In [23]:
import tensorflow as tf
from tensorflow import keras

**TAREA:  Cree un codificador**

In [24]:
codificador = keras.models.Sequential()
codificador.add(keras.layers.Dense(units = 2,
                      activation = 'relu',
                      input_shape = [17]))

**TAREA: Cree un decodificador.**

In [25]:
decodificador = keras.models.Sequential()
decodificador.add(keras.layers.Dense(units = 17,
                        activation = 'relu',
                        input_shape = [2]))

**TAREA: Combine el codificador y el decodificador para conformar un AutoCodificador, y complile el modelo.**

In [26]:
autocodificador = keras.models.Sequential([codificador,
                              decodificador])
autocodificador.compile(loss = "mse",
                        optimizer = keras.optimizers.SGD(lr = 1.5))

d:\Program Files\Python310\lib\site-packages\keras\optimizers\optimizer_v2\gradient_descent.py:108: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(SGD, self).__init__(name, **kwargs)

**TAREA: Cree un normalizador MinMaxScaler para normalizar (escalar) los datos.  Asegúrese de transponer los datos ya que realmente tenemos 17 columnas (features) y solo 4 filas (uno por país).**

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
normalizador = MinMaxScaler()
datos_normalizados = normalizador.fit_transform(df)

In [29]:
# NOTA la forma debe ser 17 columnas por 4 filas.

**TAREA:  Ajuste el AutoCodificador a los datos normalizados por medio de 15 épocas.**

In [30]:
autocodificador.fit(datos_normalizados,
                    datos_normalizados,
                    epochs = 15)

Epoch 1/15
1/1 [==============================] - 0s 244ms/step - loss: 0.2971
Epoch 2/15
1/1 [==============================] - 0s 2ms/step - loss: 0.2802
Epoch 3/15
1/1 [==============================] - 0s 2ms/step - loss: 0.2622
Epoch 4/15
1/1 [==============================] - 0s 2ms/step - loss: 0.2478
Epoch 5/15
1/1 [==============================] - 0s 2ms/step - loss: 0.2380
Epoch 6/15
1/1 [==============================] - 0s 2ms/step - loss: 0.2370
Epoch 7/15
1/1 [==============================] - 0s 1ms/step - loss: 0.2367
Epoch 8/15
1/1 [==============================] - 0s 2ms/step - loss: 0.2365
Epoch 9/15
1/1 [==============================] - 0s 2ms/step - loss: 0.2363
Epoch 10/15
1/1 [==============================] - 0s 2ms/step - loss: 0.2362
Epoch 11/15
1/1 [==============================] - 0s 3ms/step - loss: 0.2361
Epoch 12/15
1/1 [==============================] - 0s 2ms/step - loss: 0.2360
Epoch 13/15
1/1 [==============================] - 0s 1ms/step - loss: 0.2359
Epoch 14/15
1/1 [==============================] - 0s 3ms/step - loss: 0.2359
Epoch 15/15
1/1 [==============================] - 0s 2ms/step - loss: 0.2358

**TAREA: Pase los datos normalizados solo por el codificador y prediga la salida ya re-dimensionada.  Nota: Lo más seguro es que obtengan resultados diferentes debido a las inicializaciones al azar.**

In [31]:
codificado_2dim = codificador.predict(datos_normalizados)

1/1 [==============================] - 0s 41ms/step

**TAREA:  Una los datos codificados bidimensionales, con el indice original de países.  Asegúrese de verificar el orden del índice para asegurar que quede unido correctamente.  Hay muchas formas de hacer esto con Pandas.**

In [35]:
codificado_2dim

array([[1.5809822 , 0.        ],
       [2.6122046 , 0.        ],
       [1.656802  , 0.        ],
       [0.00911809, 0.        ]], dtype=float32)

**TAREA:  Ahora grafique estos resultados con una gráfica de dispersión, etiquedados por su país respectivo.**

¿Se nota ya algún país que difiera de los otros?  ¿Cuál?

In [33]:
#SU CODIGO AQUI

Al regresar a ver los datos en la tabla, esto tiene sentido: los Nor-Irlandeses comen mucho más gramos de papas frescas y mucho menos de frutas frescas, queso, pescado y bebidad alcohólicas.

Es buena seña que la estructura que se visualiza refleje un hecho grande de la geografía real:  Irlanda del Norte es el único de los cuatro países que no están en la isla de Gran Bretaña. (Si tiene confusión entre Inglaterra, el Reino Unido y Gran Bretaña, vea: este [video](https://www.youtube.com/watch?v=rNu8XDBSn10).)